* {
  box-sizing: border-box;
}

body {
  max-width: 1200px;
  margin: auto;
  padding-top: 60px;
}

.box {
  background-color: #C7F0C7;
  padding: 20px;
  margin: 10px;
  border: 5px solid #238000;
}


.header {
  background-color: #ADD8E6;
  padding: 15px;
  margin-bottom: 20px;
  border: 5px solid #2000FF;
  display: grid;
  grid-template-areas: 'header-left header-center header-right';
}

.header-left {
  grid-area: header-left;
  background-color: #FCDAB9;
  margin: 4px;
  border: 5px solid #F78072;
  height: 100px;
}

.header-center {
  grid-area: header-center;
  background-color: #FCDAB9;
  padding: 10px;
  margin: 4px;
  border: 5px solid #F78072;
  height: 100px;
  display: grid;
  grid-template-areas: 'center-left center-right';
}

.header-right {
  grid-area: header-right;
  background-color: #FCDAB9;
  padding: 10px;
  margin: 4px;
  border: 5px solid #F78072;
  height: 100px;
}

.center-left {
  background-color: #FAC0CB;
  border: 5px solid #F40105;
  grid-area: center-left;
}

.center-right {
  background-color: #FAC0CB;
  border: 5px solid #F40105;
  grid-area: center-right;
}


.content {
  margin-bottom: 20px;
  display: grid;
  grid-template-areas: 'sidebar main-content'
                       'sidebar extra-content';
  grid-gap: 15px 10px;
}

.sidebar {
  margin-right: 4px;
  background-color: #FABBBB;
  border: 5px solid #A52B2A;
  height: 300px;
  grid-area: sidebar;
}

.main-content {
  border: 5px solid yellow;
  background-color: #FABBBB;
  border: 5px solid #A52B2A;
  grid-area: main-content;
}

.extra-content {
  border: 5px solid yellow;
  background-color: #FABBBB;
  border: 5px solid #A52B2A;
  grid-area: extra-content;
}


.footer {
  background-color: #ADD8E6;
  padding: 10px;
  height: 120px;
  border: 5px solid #2000FF;
  display: grid;
  grid-template-areas: 'footer-left footer-left footer-center-left footer-center-right footer-right footer-right';
}

.footer-left {
  background-color: #dfd9fd;
  margin: 4px;
  border: 5px solid #6A5ACD;
  grid-area: footer-left;
}

.footer-center-left {
  background-color: #FCDAB9;
  margin: 4px;
  border: 5px solid #F78072;
  grid-area: footer-center-left;
}

.footer-center-right {
  background-color: #FCDAB9;
  margin: 4px;
  border: 5px solid #F78072;
  grid-area: footer-center-right;
}

.footer-right {
  background-color: #dfd9fd;
  margin: 4px;
  border: 5px solid #6A5ACD;
  grid-area: footer-right;
}


.owner {
  text-align: center;
  padding-top: 20px; 
}

.owner > p {
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 2em;
}
